<%
layout("/layouts/platform.html"){
%>
<section class="content-wrap bg-white">
	<header class="header navbar bg-white shadow">
		<div class="btn-group tool-button">
			<p class="navbar-text"> 2018年浙江省指标达成度</p>
		</div>
		<div class="pull-right">
			<div class="btn-group tool-button">
				<button class="btn btn-primary navbar-btn" id="export"  type="submit" data-pjax><i class="ti-share"></i> 导出报告</button>
			</div>
		</div>

	</header>
	<div class=panel-body style="padding-top: 50px;">

		<!-- 为ECharts准备具备大小（宽高）的Dom -->
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#cata1" data-toggle="tab">
					一级指标
				</a>
			</li>
			<li>
				<a href="#cata2" data-toggle="tab">
					二级指标
				</a>
			</li>
			<li>
				<a href="#mpoint" data-toggle="tab">
					监测点
				</a>
			</li>
			<li>
				<a href="#citycomp" data-toggle="tab">
					各县发展水平排名
				</a>
			</li>
			<li>
				<a href="#developcomp" data-toggle="tab">
					特殊地区排名
				</a>
			</li>
			<li>
				<a href="#keynotecomp" data-toggle="tab">
					重点扶贫县排名
				</a>
			</li>
		</ul>

		<!-- 每个tab页对应的内容 -->
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="cata1">
				<div id="amain" style="width: 800px; height: 750px;"></div>
			</div>
			<div class="tab-pane fade" id="cata2">
				<div id="bmain" style="width: 800px; height: 500px;"></div>
			</div>
			<div class="tab-pane fade" id="mpoint">
				<div id="cmain" style="width: 800px; height: 1500px;"></div>
			</div>
			<div class="tab-pane fade" id="citycomp">
				<select id="city" name="city"  placeholder="选择地市" >
					<% for(obj in cityList){
					%>
					<option value=${obj.unitcode!}>${obj.xzqhmc!}</option>
					<%} %>
				</select>
				<div id="dmain" style="width: 800px; height: 500px;"></div>
			</div>
			<div class="tab-pane fade" id="developcomp">
				<select id="develop" name="develop"  placeholder="选择特殊地区" >
					<option value="0">欠发达地区</option>
					<option value="1">发展中地区</option>
					<option value="2" selected>发达地区</option>
				</select>
				<div id="emain" style="width: 800px; height: 1200px;"></div>
			</div>
			<div class="tab-pane fade" id="keynotecomp">
				<div id="fmain" style="width: 800px; height: 900px;"></div>
			</div>
		</div>





		<!-- <form id="chartForm" style="display:none" method="post" enctype="multipart/form-data" action="monitor/exportPng"> -->
		 <form id="chartForm" style="display:none" method="post" action="${base!}/platform/evaluate/exportProvince?xzqhdm=${xzqh!}">
		    <!-- <input id="imageValue1" name="radarCounty64" type="text" maxlength="50000" /> 
		    <input id="imageValue2" name="fileType" type="text" value=".png" />-->
		    <input id="radar1" name="radar1" type="text" maxlength="50000" />
		    <input id="bar2" name="bar2" type="text" maxlength="50000" />
		    <input id="barp" name="barp" type="text" maxlength="50000" />
 		    <input id="bar_key" name="bar_key" type="text" maxlength="50000" />

		     <!-- <input class="easyui-textbox" name="radarCounty64" style="width:90%" data-options="label:'用户名:',required:true"> -->
		</form>
	</div>
</section>
<script type="text/javascript">
	 // 基于准备好的dom，初始化echarts图表
	 var chartRadar1 = echarts.init(document.getElementById('amain'));
	 var chartBar2 = echarts.init(document.getElementById('bmain')); 
	 var chartBarp = echarts.init(document.getElementById('cmain'));
     var chartBart = echarts.init(document.getElementById('dmain'));
     var chartBarc_d = echarts.init(document.getElementById('emain'));
     var chartBarc_k = echarts.init(document.getElementById('fmain'));
     chartRadar1.setOption(radarOption);
     chartBar2.setOption(barOption_v);
     chartBarp.setOption(barOption_h);
     chartBart.setOption(barOption_v);
     chartBarc_d.setOption(barOption_h);
     chartBarc_k.setOption(barOption_h);
     function showAvgScore1(xzqhdm,chartBar)
     {
         // 基于准备好的dom，初始化echarts图表
         //var aname = xzqhmc+'一级指标得分比较';
         //$.get('monitor/getCountyScore1?year='+year+'&xzqhdm='+xzqhdm).done(function (data){
         $.get('${base!}/platform/evaluate/getAvgScore1?xzqhdm='+xzqhdm).done(function (data){
             console.log('一级指标得分返回值')
             console.log(data);//前端调试控制台输出数据，看看是否符合要求
             chartBar.setOption({
                 legend:{
                     data:[ '浙江省', '目标值']
                 },
                 series:[{

                     data:data
                 }]
             });
             window.onresize = chartBar.resize;
         });
     }
     function showAvgScore2(xzqhdm,chartBar)
     {
         //var aname = xzqhmc+'二级指标得分比较';
         $.get('${base!}/platform/evaluate/getAvgScore2?xzqhdm='+xzqhdm).done(function (data){
             console.log('二级指标得分返回值')
             console.log(data);

             chartBar.setOption({
                 legend:{
                     data:['浙江省','目标值']
                 },
                 yAxis:[{
                     interval:5,
                     max:function(value){
                         return Math.ceil(value.max/5)*5;
                     }
                 }],
                 series:[{
                     name:'浙江省',
                     data:data[0].value
                 },{
                     name:'目标值',
                     data:data[1].value
                 }]
             });

             window.onresize = chartBar.resize;

         });
     }
     function showAvgScorep( xzqhdm,chartBar)
     {
         // 基于准备好的dom，初始化echarts图表

         //var aname = xzqhmc+'五十四个指标得分比较';
         $.get('${base!}/platform/evaluate/getAvgScorep?xzqhdm='+xzqhdm).done(function (data){
             console.log('监测点得分返回值')
             console.log(data);
             var monitorname=[];
             for(var i=0;i<data[0].value.length;i++){
                 var name =i+1;
                 monitorname.push(name);
             }
             chartBar.setOption({
                 legend:{
                     data:['浙江省','目标值']
                 },

                 yAxis:[{
                     data:monitorname
                 }],
                 series:[{
                     name:'浙江省',
                     data:data[0].value
                 },{
                     name:'目标值',
                     data:data[1].value
                 }]
             });
             window.onresize = chartBar.resize;
         });
     }
     function showTotalScoreByCity(xzqhdm,xzqhmc,chartBar)
     {
         var name = xzqhmc+'各县（市、区）评估分';
         $.get('${base!}/platform/evaluate/getTotalScoreByCity?xzqhdm='+xzqhdm).done(function (data){

             console.log(data);
             var cname=[],mvalue=[];
             for(var i = 0; i < data.length; i++){
                 cname.push(data[i].name);
                 mvalue.push(data[i].value);
             }
             var option = {
                 title: {
                     text: name+'排名'
                 },

                 legend: {
                     data:[name],
                 },

                 xAxis: [{
                     data: cname,

                 }],
                 yAxis: [{
                     max:  function(value) {
                         return Math.ceil(value.max/10)*10;
                     },
                     interval: 10,

                 }],
                 series: [{
                     name:name,
                     data:mvalue
                 }]
             };
             // 为echarts对象加载数据
             chartBar.setOption(option);
             window.onresize = chartBar.resize;

         });
     }
     function showScoreBydevelope(develope,chartBar)
     {
         //var aname = xzqhmc+'二级指标得分比较';
         $.get('${base!}/platform/evaluate/getTotalScoreByDevelop?develope='+develope).done(function (data){
             var cname=[],mvalue=[];
             for(var i = 0; i < data.length; i++){
                 cname.push((data.length-i)+'.'+data[i].name);
                 mvalue.push(data[i].value);
             }
             var ctitle="发达地区教育现代化水平排名";
             if(develope==0){
                 ctitle = "欠发达地区教育现代化水平排名";
             }else if(develope==1){
                 ctitle="发展中地区教育现代化水平排名";
             }
             var option = {
                 title: {
                     text: ctitle,
                 },
                 yAxis: [{
                     data: cname,
                 }],
                 xAxis: [{
                     max:  function(value) {
                         return Math.ceil(value.max/10)*10;
                     },
                     interval: 10,
                 }],
                 series: [{
                     name:'得分',
                     data:mvalue,

                 }]
             };
             // 为echarts对象加载数据
             chartBar.setOption(option);
             window.onresize = chartBar.resize;

         });
     }
     function showScoreByKey(chartBar)
     {
         //var aname = xzqhmc+'二级指标得分比较';
         $.get('${base!}/platform/evaluate/getTotalScoreByKey').done(function (data){

             var cname=[],mvalue=[];
             for(var i = 0; i < data.length; i++){
                 cname.push((data.length-i)+'.'+data[i].name);
                 mvalue.push(data[i].value);
             }
             var ctitle="重点帮扶县教育现代化水平排名";

             var option = {
                 title: {
                     text: ctitle,
                 },
                 yAxis: [{
                     data: cname,
                 }],
                 xAxis: [{
                     max:  function(value) {
                         return Math.ceil(value.max/10)*10;
                     },
                     interval: 10,
                 }],
                 series: [{
                     name:'得分',
                     data:mvalue
                 }]
             };
             // 为echarts对象加载数据
             chartBar.setOption(option);
             window.onresize = chartBar.resize;
         });
     }
     $(document).ready(function () {
         showAvgScore1(${xzqh!},chartRadar1);
         showAvgScore2(${xzqh!},chartBar2);
         showAvgScorep(${xzqh!},chartBarp);
         showTotalScoreByCity($("#city").val(),$("#city option:selected").text(),chartBart);
//         showCityTotalScore(${xzqh!},chartBart);
         showScoreBydevelope($("#develop").val(),chartBarc_d);

         showScoreByKey(chartBarc_k);

         $("#city").change(function () {
             showTotalScoreByCity($("#city").val(),$("#city option:selected").text(),chartBart);
         });
         $("#develop").change(function () {
             showScoreBydevelope($("#develop").val(),chartBarc_d);
         });
         $("#export").on("click",function(){
             var chartExportUrl = '${base!}/platform/evaluate/exportProvince?xzqhdm='+${xzqh!};
             var picRadar1 = chartRadar1.getDataURL();//获取echarts图的base64编码，为png格式。
             var picBar2 = chartBar2.getDataURL();//获取echarts图的base64编码，为png格式。
             var picBarp = chartBarp.getDataURL();//获取echarts图的base64编码，为png格式。
             var picBarkey = chartBarc_k.getDataURL();//获取echarts图的base64编码，为png格式。
             $('#radar1').val(picRadar1);//将编码赋值给输入框
             $('#bar2').val(picBar2);//将编码赋值给输入框
             $('#barp').val(picBarp);//将编码赋值给输入框
             $('#bar_key').val(picBarkey);//将编码赋值给输入框
             $('#chartForm').submit();

         });

     });
     window.addEventListener("resize", () => {
         this.chartRadar1.resize();
     	this.chartBar2.resize();
     	this.chartBarp.resize();
     	this.chartBart.resize();
     	this.chartBarc_d.resize();
     	this.chartBarc_k.resize();
     });
	</script>
<%}%>