<%
layout("/layouts/platform.html"){
%>
<section class="content-wrap bg-white">
    <header class="header navbar bg-white shadow">
        <div class="btn-group tool-button">
            <p class="navbar-text">监测评估单位列表</p>
                <!--<a id="add" class="btn btn-primary navbar-btn" href="${base}/platform/evaluate/records/add" data-pjax><i class="ti-plus"></i> 新建Evaluate_records</a>-->
            <!--<button class="btn btn-danger navbar-btn" onclick="delCheck()"><i class="ti-close"></i> 删除选中</button>-->
        </div>
        <div class="btn-group" style="padding-top: 5px;">
            <div>
                <label for="year">评估年度：</label>
                <select id="year" name="year"  placeholder="选择评估年度" >
                    <option value="2018" selected>2018</option>
                </select>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary navbar-btn" onclick="sublime.toggleFilter('.cd-panel')"><i
                    class="fa fa-sliders"></i> 筛选
            </button>
            <div class="btn-group tool-button">
                <% if(@shiro.hasRole("sysadmin")){%>
                <a class="btn btn-primary navbar-btn" href="${base}/platform/evaluate/records/upload" data-toggle="modal" data-target="#dialogImp"><i class="ti-import"></i>评估结果导入</a>
                <%}%>
            </div>
        </div>
    </header>

    <div class=panel-body style="padding-top: 50px;">
        <div class="table-responsive no-border">
            <table class="table table-bordered table-striped mg-t datatable">
                <thead>
                    <tr>
                            <th>学年</th>
                            <th>行政区代码</th>
                            <th>行政区名称</th>
                            <th>评估得分</th>
                            <th>操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<div class="cd-panel from-right">
    <header class="cd-panel-header">
        <h4>高级筛选</h4>
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content shadow">
            <div class="form-group">
                <label for="city">市级评估单位</label>
                <select class="form-control" id="city" name="city"  placeholder="选择地市" >
                    <% for(obj in cityList){
                    %>
                    <option value=${obj.unitcode!}>${obj.xzqhmc!}</option>
                    <%} %>
                </select>
            </div>
            <div class="form-group">
                <label for="county">县级评估单位</label>
                <input type="text" id="county" name="county" onclick="this.value=''" class="form-control" placeholder="县级评估单位">
            </div>
            <button id="searchBtn" type="button" class="btn btn-default">查询</button>
        </div>
    </div>
</div>
<div id="dialogDelete" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">删除</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        删除后无法恢复。<br/>
                        <br/>确定删除吗？
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取  消</button>
                <button id="okDel" type="button" class="btn btn-primary" data-loading-text="正在删除...">确  定</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogDetail" class="modal fade bs-modal-sm" tabindex="-3" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="dialogImp" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<script language="JavaScript">
    var datatable;
    function initDatatable() {
        datatable = $('.datatable').DataTable({
            "dom": '<"toolbar">frtip',
            "searching":false,
            "processing": false,
            "serverSide": true,
            "select": true,
            "ordering": true,
            "language": {
                "url": "${base}/assets/plugins/datatables/cn.json"
            },
            "preDrawCallback": function () {
                sublime.showLoadingbar($(".main-content"));
            },
            "drawCallback": function () {
                sublime.closeLoadingbar($(".main-content"));
            },
            "ajax": {
                "url": "${base}/platform/evaluate/records/data",
                "type": "post",
                "data": function (d) {
                    d.year=$('#year').val();
                    d.xzqhmc=$('#county').val();
                    d.unitcode=$('#city').val();
                }
            },
            "order": [[1, "asc"]],
            "columns": [
                    {"data": "year", "bSortable": true},
                    {"data": "unitcode", "bSortable": true},
                    {"data": "xzqhmc", "bSortable": true},
                    {"data": "score", "bSortable": true},
                {"data": "selfevaurl", "bSortable": true}
            ],
            "columnDefs": [

                {
                    "render": function (data, type, row) {
                        html ='<div class="btn-group tool-button">' +
                            '<a class="btn btn-primary" href="${base}/platform/evaluate/evaluate_county?evaluateId=' + row.id + '" data-pjax>指标达成度查看</a>' +
                            <% if(@shiro.hasRole("sysadmin")){%>
                            '<a class="btn btn-primary" href="${base}/platform/evaluate/upload/' + row.id + '" data-toggle="modal" data-target="#dialogImp">评估报告上传</a>'
                            <%}%>

                        if (data!=null && data!="") {
                            html+= '<a class="btn btn-primary" href="' + row.selfevaurl + '" class="fa  text-success ml5">评估报告下载</a>';
                        }
                        html+='</div>';
                        return html
                    },
                    "targets": 4
                }
            ]
        });
        datatable.on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
        $("#searchBtn").on('click', function () {
            datatable.ajax.reload();
        });
    }
    function del(id) {
        var dialog = $("#dialogDelete");
        dialog.modal("show");
        dialog.find("#okDel").unbind("click");
        dialog.find("#okDel").bind("click", function (event) {
            var btn = $(this);
            btn.button("loading");
            $.post("${base}/platform/evaluate/records/delete/" + id, {}, function (data) {
                if (data.code == 0) {
                    datatable.ajax.reload(null,false);
                } else {
                    Toast.error(data.msg);
                }
                //重置按钮状态，关闭提示框
                btn.button("reset");
                dialog.modal("hide");
            }, "json");
        });
    }
    function delCheck() {
        var chks = datatable.rows('.selected').data();
        if (chks.length > 0) {
            var ids = [];
            $.each(datatable.rows('.selected').data(), function (i, n) {
                ids.push(n.id);
            });
            var dialog = $("#dialogDelete");
            dialog.modal("show");
            dialog.find("#okDel").unbind("click");
            dialog.find("#okDel").bind("click", function (event) {
                var btn = $(this);
                btn.button("loading");
                $.post("${base}/platform/evaluate/records/delete", {ids: ids.toString()}, function (data) {
                    if (data.code == 0) {
                        datatable.ajax.reload(null,false);
                    } else {
                        Toast.error(data.msg);
                    }
                    btn.button("reset");
                    dialog.modal("hide");
                }, "json");
            });
        } else {
            Toast.warning("请先选择要删除的项！");
        }
    }
    $(function () {
        $('#city').val('');
        initDatatable();
        $("#dialogDetail").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
    });
</script>

<%}%>